<!DOCTYPE html>
<html lang="en" ng-app="blog">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0 minimum-scale=1.0">
	<title ng-bind="title"></title>

	<link rel="stylesheet" href="node_modules/angular-material/angular-material.min.css">
	<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=RobotoDraft">
	<link rel="stylesheet" href="css/style.css">
</head>
<body layout="column" layout-align="top center">
	<div>
		<md-toolbar ng-controller="toolbarCtrl">
			<div class="md-toolbar-tools" layout="row" layout-align="space-between center">
				<div><a href="#/home">MyBlog</a></div>
				<div>{{ pageTitle }}</div>
				<div ng-controller="formCtrl">
					<div ng-show="logged">
						<md-button class="md-raised" ng-click="write($event)">Write a post</md-button>
						<md-button class="md-raised" ng-click="logout($event)">Log Out</md-button>
					</div>

					<div ng-show="!logged">
						<md-button class="md-raised" ng-click="signup($event)">Sign Up</md-button>
						<md-button class="md-raised" ng-click="login($event)">Log In</md-button>
					</div>
				</div>
			</div>
		</md-toolbar>

		<ng-view></ng-view>
	</div>

	<script src="node_modules/angular/angular.min.js"></script>
	<script src="node_modules/angular-cookies/angular-cookies.min.js"></script>
	<script src="node_modules/angular-route/angular-route.min.js"></script>
	<script src="node_modules/angular-aria/angular-aria.min.js"></script>
	<script src="node_modules/angular-animate/angular-animate.min.js"></script>
	<script src="node_modules/angular-material/angular-material.min.js"></script>
	<script src="js/app.js"></script>
	<script src="js/controllers.js"></script>
</body>
</html>
