<md-toolbar>
	<div class="md-toolbar-tools" layout="row", layout-align="space-between center">
		<div><a href="#/home">MyBlog</a></div>
		<div>
			<md-button class="md-raised">Sign Up</md-button>
			<md-button class="md-raised">Log In</md-button>
		</div>
	</div>
</md-toolbar>

<div class="md-padding main-container" layout="column" layout-align="start center">
	<md-card ng-repeat="post in posts" class="post-container">
		<md-toolbar class="md-hue-2 md-tall" layout-align="center center">
			<div class="md-toolbar-tools">
				<div layout="column" layout-align="center start">
					<span>{{ post.title }}</span>
				</div>
			</div>			
		</md-toolbar>

		<md-card-content>
			<span>{{ post.preview }}...</span>
		</md-card-content>
		
		<md-divider></md-divider>

		<div layout="row" layout-align="space-between center" class="md-padding">
			<div>
				<span>by <a href="#/user/{{ post.author.id }}">{{ post.author.username }}</a> {{ post.created }}</span>
				<span ng-if="post.edited">last edited {{ post.edited }}</span>
			</div>
			<md-button class="md-raised md-primary" ng-href="#/post/{{ post.id }}">Read full</md-button>
		</div>
	</md-card>
</div>
