<div class="md-padding main-container" layout="column" layout-align="start center">
	<div layout="row" layout-align="center start" class="post-container">
		<div flex>
			<md-card>
				<md-toolbar class="md-hue-2 md-tall" layout-align="center center">
					<div class="md-toolbar-tools">
						<div layout="column" layout-align="center start">
							<span>{{ post.title }}</span>
						</div>
					</div>			
				</md-toolbar>
		
				<md-card-content>
					<span>{{ post.contents }}</span>
				</md-card-content>
				
				<md-divider></md-divider>
		
				<div layout="row" layout-align="space-between center" class="md-padding">
					<div>
						<span>by <a href="#/user/{{ post.author.id }}">{{ post.author.username }}</a> {{ post.created }}</span>
						<span ng-if="post.edited">last edited {{ post.edited }}</span>
					</div>
					<md-button class="md-raised md-primary" onclick="window.history.back()">Back</md-button>
				</div>
			</md-card>
		</div>
	</div>
</div>
